// ---------------------------------------------------------------------
//  Burger Styles
// ---------------------------------------------------------------------

$burger-width: 18px;
$burger-height: 12px;
$burger-color: $white;
$burger-bg-color: $black;


.burger {
	overflow: hidden;
	position: fixed;
	z-index: 11;
	width: 48px;
	height: 48px;
	bottom: 12px;
	right: 12px;
	transition: all $transition;
	align-self: center;
	display: flex;
	background: $black;

	&:hover {
		cursor: pointer;
	}

	@include start-at($header-breakpoint) {
		display: none;
	}
}

.burger-inner {
	align-self: center;
	width: $burger-width;
	height: $burger-height;
	position: relative;
	margin: 0 auto;
	left: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);

	> * {
	   position: absolute;
	   display: block;
	   height: 2px;
	   width: 100%;
	   background-color: $burger-color;
	   margin: 0 auto;
	   transition: all 0.6s ease-in-out;
	   -webkit-backface-visibility: hidden;
   }
}

.burger-top { top: 0; }
.burger-middle { top: 50%; margin-top: -1px; }
.burger-bottom { bottom: 0; }


// ----------------------------------------
// Active Styles
// ----------------------------------------

.mobile-nav-is-open {
	.burger {
		background: $white;
	}

	.burger-inner > * {
		background: $black;
	}

	.burger-top {
		top: 50%;
		margin-top: -2px;
		transform: rotate(45deg);
	}

	.burger-middle {
		transform: rotate(-135deg);
		opacity: 0;
	}

	.burger-bottom {
		bottom: 50%;
		margin-top: 1px;
		transform: rotate(-45deg);
	}
}
