// ---------------------------------------------------------------------
//  User Content Styles. WYSIWYG
// ---------------------------------------------------------------------

.user-content.user-content--sm {
    p {
        @include p-sm;
    }
}
.user-content.user-content--lg {
    p {
        @include h3;
    }
}
.user-content.user-content--lead {
    p:first-of-type {
        @include h3;
    }
}

.user-content {
@include clearfix;
font-weight: normal;
font-style: normal;

// ----------------------------------------
// Type Styles
// ----------------------------------------

p {
    @include para;

    margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //@include base-heading-styles;
    //margin-bottom: ($padding / 6);
}

h1 {
    @include h1;
    margin-bottom: 30px;

    // + p {
    //     margin-top: 40px;
    // }
}

h2 {
    @include h2;
    margin-bottom: 15px;

    // + p {
    //     margin-top: 40px;
    // }
}

h3 {
    @include h3;
    margin-bottom: 15px;

    // + p {
    //     margin-top: 40px;
    // }
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

* + h1,
* + h2,
* + h3 {
    margin-top: 40px;
}

* + h4,
* + h5,
* + h6 {
    margin-top: 20px;
}

a:link {
    color: $brand;
    text-decoration: underline;
    transition: color $transition;
}

a:visited,
a:active,
a:focus,
a:hover {
    opacity: 0.6;
}

// ----------------------------------------
// Lists
// ----------------------------------------
// ul,
// ol,
// dl {
//     margin-top: 0;
//     margin-bottom: ($padding / 4);
// }
//
// ul {
//     list-style-type: disc;
//     margin: 0 0 ($padding / 4) ($padding / 2);
// }
//
// ol {
//     list-style-type: decimal;
//     margin: 0 0 ($padding / 4) ($padding / 2);
// }
//
// dt {
//     font-weight: bold;
// }
//
// li,
// dd {
//     margin: 0 0 0 ($padding / 2);
// }
//
// ul ul,
// ul ol,
// ul dl,
// ol ul,
// ol ol,
// ol dl,
// dl ul,
// dl ol,
// dl dl {
//     margin-top: 0;
//     margin-bottom: 0;
// }
//
// ol ul,
// ul ul {
//     list-style-type: circle;
// }
//
// ol ol ul,
// ol ul ul,
// ul ol ul,
// ul ul ul {
//     list-style-type: square;
// }


// ----------------------------------------
// Sections
// ----------------------------------------
blockquote {
    padding: ($padding / 4);
    font-style: italic;
    background: $gray-light;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px $wrapper-padding;

    @include start-at($small) {
        padding: 60px;
    }

    > * {
        @include h3;
        margin-bottom: 0;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -20px;
        background: white;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        transform-origin: top right;

        @include start-at($small) {
            right: -45px;
            width: 60px;
            height: 60px;
        }
    }
}

address {
    margin: 0 0 ($padding / 4) 0;
    font-style: italic;
}

// ----------------------------------------
// HR
// ----------------------------------------
hr {
    margin: ($padding / 2) 0;
    background: $brand;
    height: 1px;
    border: none;
    line-height: 1px;
}

// ----------------------------------------
// Text
// ----------------------------------------
strong,
b {
    font-weight: 500;
}

em,
i {
    font-style: italic;
}

del,
strike,
s {
    text-decoration: line-through;
}

u,
ins {
    text-decoration: underline;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

abbr,
acronym {
    border-bottom: dotted 1px;
}

cite,
dfn {
    font-style: italic;
}

q {
    font-style: italic;
}

q::before {
    content: open-quote;
}

q::after  {
    content: close-quote;
}

q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

bdo {
    direction: rtl;
}


// ----------------------------------------
// pre
// ----------------------------------------
pre {
    margin: 0 0 12px 0;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: normal;
}

code,
samp,
tt,
kbd {
    font-family: "Lucida Console", Monaco, monospace;
}

var {
    font-style: italic;
}


// ----------------------------------------
// Media
// ----------------------------------------
img,
video,
audio {
    max-width: 100% !important;
}

}
