// ---------------------------------------------------------------------
//  Site Footer Styles
// ---------------------------------------------------------------------

$fb: $medium;

.site-footer {
    position: relative;
    z-index: 8;
    padding: 26px 0;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $border;
    border-bottom: 16px solid $gray-dark;

    .wrapper-wide {

        @include start-at($fb) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}

body.home .site-footer {
    border-top: none;
    border-bottom: none;
    //position: absolute;

    color: $white;

    @media (min-height: 660px) {
        position: absolute;
        bottom: 0;
    }

    .social-list svg {
        fill: $white;
    }

    .secondary-navigation a {
        color: $white;
    }
}


.secondary-navigation {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;
    max-width: 100%;

    > * + * {
        &:before {
            content: '/';
            display: inline-block;
            margin: 0 10px;
            font-weight: 300;
        }
    }

    @include start-at($fb) {
        margin-bottom: 0;
        order: 2;
        flex-wrap: nowrap;
    }

    li {
        display: flex;
    }



    a {
        @include p-sm;
        display: inline-block;
        color: $gray-dark;

        &:hover {
            opacity: 0.6;
        }
    }
}


.site-footer__content {

    .social-list {
        //margin-bottom: 10px;
    }

    @include start-at($fb) {

    }

}
